<h1>Individual Meetup Details</h1>

<p>This cool meetup has the following details:</p>

<ul>
  <li>Name: <%= @mu.name %></li>
  <li>Description: <%= @mu.description %></li>
  <li>Location: <%= @mu.location %></li>
  <li>Creator: <%= @mu_creator.username %></li>
</ul>
