.capulet h4 {
  color: #0F5A8F;
}

.capulet p {
  color: #0077CC;
  font-size: 16px;
  font-weight: 300;
}

.stage-direction {
  text-align: center;
}

/*.dialog {
  font-size: 16px;
  font-weight: 300;
}*/

.montague h4 {
 color: #CD4242;
}

.montague p {
  color: #EE6363;
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  text-decoration: underline;
}
