<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LACKP Teams</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <h1>Team List</h1>

    <ul>
      <% @team_hash.map do |team| %>
        <li><a href="/teams/<%= team[0] %>"><%= team[0] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
